<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="/styles/myface.css" />
        <link rel="stylesheet" type="text/css" href="/styles/signup.css" />
        <title>Sign Up :: Mingle</title>
    </head>

    <body>
        <nav>
            <div class="nav-inner">
                <a href="/" class="brand">My🙂Face</a>
            </div>
        </nav>

        <div class="limited-width-container">

        </div>

    </body>
</html>